.cart_page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_div {
  width: auto;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_div span {
  font-family: var(--font);
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;

  text-align: center;
  margin-top: 70px;

  color: rgb(4, 30, 66);
}

.title_div p {
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  margin-top: 60px;

  color: rgb(0, 0, 0);
}

.title_div .bar_container {
  margin-top: 10px;
  position: relative;
  width: 424px;
  height: 6px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: visible;
}

.title_div .bar {
  width: 60%;
  height: 100%;

  background-color: gold;
}

.title_div .star {
  position: absolute;
  top: -10px;
  left: 60%;
  transform: translateX(-50%);
  font-size: 20px;
}

.shop_cart_frame {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shop_cart_frame .container {
  flex-direction: row;
  justify-content: space-between;
}

.shop_cart_frame .container .cart_main {
  width: 872px;
  height: auto;

  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.shop_cart_frame .cart_main .cart_center_main {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-radius: 6px;

  background: rgb(255, 255, 255);
}

.shop_cart_frame .cart_center_main .cart_top_menu {
  padding: 0px 20px;
  width: auto;
  height: 70px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 6px 6px 0px 0px;
  background: rgb(243, 245, 246);
}

.shop_cart_frame .cart_top_menu span {
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;

  color: rgb(4, 30, 66);
}

.shop_cart_frame .container .cart_main .cart_wrapper_box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}

.shop_cart_frame .cart_wrapper_box .cart_box {
  /* margin-top: 30px; */
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eaeaea;
}

.shop_cart_frame .cart_box .product_info {
  margin-right: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop_cart_frame .cart_box img {
  margin: 10px 10px 43px 27px;

  width: 93px;
  height: 100px;
}

.shop_cart_frame .cart_box .product_info_main {
  width: 192px;
  height: 122px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;

  box-sizing: border-box;
}

.shop_cart_frame .cart_box .product_info_main p {
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: left;

  color: rgb(4, 30, 66);
}

.shop_cart_frame .cart_box .product_info_main strong {
  left: auto;
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: left;

  color: rgb(4, 30, 66);
}

.shop_cart_frame .cart_box .product_info_main span {
  font-family: var(--font);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: left;

  color: rgb(4, 30, 66);
}

.shop_cart_frame .cart_box .product_info .price {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: rgb(4, 30, 66);
}

.shop_cart_frame .cart_box .product_info .total {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: rgb(4, 30, 66);
}

.shop_cart_frame .cart_box .add_remove_box {
  width: 102px;
  height: 42px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 60px;
}

.shop_cart_frame .add_remove_box .add_remove_btn {
  width: 35px;
  height: 30px;
  top: 50%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
}

.shop_cart_frame .add_remove_box .active {
  background: #f3f5f6;
  border-radius: 50%;
}

.shop_cart_frame .add_remove_box span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;

  color: #041e42;
}

.shop_cart_frame .cart_box .remove_img img {
  width: 13.06px;
  height: 14px;
}

.shop_cart_frame .container .cart_main .cart_bottom {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.shop_cart_frame .container .cart_bottom .left_box {
  width: 400px;
  height: 55px;

  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;

  box-sizing: border-box;
  border: 1px dashed rgb(98, 105, 116);
  border-radius: 6px;
  background: rgb(255, 255, 255);
}

.shop_cart_frame .left_box input {
  margin-left: 30px;
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(4, 30, 66);
  text-align: left;
  border: none;
}

.shop_cart_frame .left_box span {
  margin-left: 40px;
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: right;

  color: rgb(4, 30, 66);
  text-decoration-line: underline;
  cursor: pointer;
}

.shop_cart_frame .container .cart_bottom .right_boxes {
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-style: 1px solid #aeaeae;
}

.shop_cart_frame .right_boxes .Continue_btn {
  padding: 15px 35px 15px 35px;
  margin-right: 20px;
  width: 198px;
  height: 52px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10;

  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: rgb(4, 30, 66);
  cursor: pointer;

  box-sizing: border-box;
  border: 2px solid rgb(245, 195, 75);
  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);
}

.shop_cart_frame .right_boxes .Update_btn {
  padding: 15px 35px 15px 35px;
  width: 150px;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10;
  cursor: pointer;

  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: rgb(4, 30, 66);

  box-sizing: border-box;
  border: 1px solid rgb(245, 195, 75);
  border-radius: 6px;

  box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);
  background: rgb(245, 195, 75);
}

.shop_cart_frame .container .cart_price_box {
  padding: 30px;
  width: 422px;
  height: 418px;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;
  background: rgb(255, 255, 255);
}

.shop_cart_frame .cart_price_box .cart_title {
  width: 95px;
  height: 29px;

  font-family: var(--font);
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;

  color: rgb(4, 30, 66);
}

.shop_cart_frame .cart_price_box .price_info {
  margin-top: 20px;
  width: 365.83px;
  height: 167px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-bottom: 1px solid #aeaeae;
}

.shop_cart_frame .cart_price_box div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop_cart_frame .cart_price_box div span {
  justify-content: space-between;

  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  color: rgb(4, 30, 66);
}

.shop_cart_frame .cart_price_box .cart_total {
  margin-top: 10px;
  width: 366.11px;
  height: 58px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.shop_cart_frame .cart_price_box button {
  padding: 15px 35px 15px 35px;
  width: 365.83px;
  height: 52px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 1px solid rgb(245, 195, 75);
  border-radius: 6px;

  cursor: pointer;

  box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);
  background: rgb(245, 195, 75);
}
