.container .upd_btn {
  width: 183.64px;
  height: 52px;
}

.container .upd_btn a button {
  width: 118px;
  height: 52px;

  box-sizing: border-box;
  border: 1px solid rgb(245, 195, 75);
  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);
  background: rgb(245, 195, 75);
}

.container .upd_btn button {
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(4, 30, 66);

  border: none;
  background-color: #ffffff;
}

.mypage_page {
  margin: auto;
  width: 1320px;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypage_page .mypage_main {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mypage_page .mypage_main .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background: lavender; */
}

.mypage_page .mypage_main .container .profile_settings {
  width: 198px;
  height: 341px;

  display: flex;
  flex-direction: column;
}

.mypage_page .profile_settings .profile_info {
  width: 198.14px;
  height: 61px;
  gap: 10px;

  display: flex;
  flex-direction: row;
}

.mypage_page .profile_settings .profile_info img {
  width: 37.74px;
  height: 40px;
  border-radius: 60px;

  /* background: url(../public/images/images/ic); */
}

.mypage_page .profile_settings .profile_info .name_mail {
  width: 125px;
  height: 50px;

  display: flex;
  flex-direction: column;
}

.mypage_page .profile_settings .profile_info .name_mail span {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(4, 30, 66);
}

.mypage_page .profile_settings .profile_info .name_mail p {
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(4, 30, 66);
}

.mypage_page .profile_settings .setting_main {
  width: 139px;
  height: 270px;

  display: flex;
  flex-direction: column;
}

.mypage_page .profile_settings .setting_main .setting_box {
  gap: 10px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.mypage_page .profile_settings .setting_main .setting_box img {
  width: 18.42px;
  height: 20px;
}

.mypage_page .profile_settings .setting_main .setting_box span {
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 45px;
  color: rgb(4, 30, 66);
}

.mypage_page .mypage_main .container .profile_details {
  margin-left: 40px;
  width: 1057.7px;
  height: 1236px;

  display: flex;
  flex-direction: column;
}

.mypage_page .profile_details .page_title {
  font-family: Jost;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  color: rgb(4, 30, 66);
}

.mypage_page .profile_details .details_box {
  margin-top: 30px;
  width: 1057.7px;
  height: 331px;
}

.mypage_page .profile_details .details_box .setting_router {
  width: 351px;
  height: 28px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mypage_page .details_box .setting_router span {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;

  color: rgb(4, 30, 66);
}

.mypage_page .details_box .setting_router span.active {
  border-bottom: 1px solid rgb(4, 30, 66);
}

.mypage_page .profile_details .details_box .double_input_cont {
  margin-right: 30px;
  margin-top: 20px;
  width: 1057px;
  height: 268px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mypage_page .profile_details .details_box .double_input_box {
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mypage_page .double_input_box .double_input {
  width: 517.06px;
  height: 88px;

  display: flex;
  flex-direction: column;
}

.mypage_page .double_input_box .double_input label {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(4, 30, 66);
}

.mypage_page .double_input_box .double_input input {
  padding: 20px;
  width: 517.06px;
  height: 55px;

  box-sizing: border-box;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;

  background: rgb(255, 255, 255);
}

/* PASS BOX */
.mypage_page .pass_box {
  margin-top: 30px;
  width: 555.7px;
  height: 376px;

  display: flex;
  flex-direction: column;
}

.mypage_page .pass_box .pass_change_box {
  margin-top: 20px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mypage_page .pass_box .pass_change_box .input_box {
  margin-bottom: 20px;
  width: 555.7px;
  height: 88px;

  display: flex;
  flex-direction: column;
}

.mypage_page .pass_box .pass_change_box .input_box label {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(4, 30, 66);
}

.mypage_page .pass_box .pass_change_box .input_box input {
  padding: 20px;
  width: 555.7px;
  height: 55px;

  box-sizing: border-box;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;

  background: rgb(255, 255, 255);
}

.mypage_page .input_box input::placeholder {
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(98, 105, 116);
}

/* permissions box */

.mypage_page .permissions_box {
  margin-top: 30px;
  width: 725.7px;
  height: 406px;

  display: flex;
  flex-direction: column;
}

.mypage_page .permissions_box .setting_router {
  margin-top: 30px;
}

.mypage_page .permissions_box .contact_permissions {
  margin-top: 20px;
  width: 725.7px;
  height: 77px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #eaeaea;
}
.mypage_page .contact_permissions .contact_box {
  width: 508.84px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.mypage_page .contact_permissions .contact_box span {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(4, 30, 66);
}

/* TOGGLE BOX */

.mypage_page .permissions_box .contact_permissions .toggle_box {
  width: auto;
  height: 35px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mypage_page .toggle_box .button {
  position: relative;
  width: 70px;
  height: 35px;

  border-radius: 200px;
  cursor: pointer;
  background-color: #d2d2d2;
  border-radius: 200px;
  transition: 0.2s;
}

.mypage_page .toggle_box .button::before {
  position: absolute;
  margin: 3px;
  width: 30px;
  height: 30px;
  content: "";
  border-radius: 200px;
  background-color: #fff;
  transition: 0.2s;
}

.mypage_page .toggle_box input:checked + .button {
  background-color: #20096d;
}

.mypage_page .toggle_box input:checked + .button::before {
  transform: translateX(35px);
}

.mypage_page .toggle_box input {
  display: none;
}
